@import "../Fonts/fonts";
@import "../Misc/variables";

.cart-items {
    font-size: 1.8rem;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-weight: bold;
    font-size: 1.6rem;
    border-top: 1px solid $default-accent-color;
    padding-top: 0.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .actions button {
    // font: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $navbar-color;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: $default-accent-color;
    border-color: $default-accent-color;
    color: $default-font-color;
  }
  
  .actions .button--alt {
    font-size: 1.5rem;
    color: $navbar-color;
  }
  
  .actions .button {
    font-size: 1.5rem;
    background-color: $navbar-color;
    color: $default-font-color;
  }