@import "../Fonts/fonts";
@import "../Misc/variables";

.meals {
    padding: auto;
    max-width: 95rem;
    // width: 90%;
    margin: 2rem auto;
    
    animation: meals-appear 1s ease-out forwards;
    border-top: 1px solid $default-accent-color;
    border-bottom: 1px solid $default-accent-color-dark;
    border-radius: 14px;
  }

  .meals sup {
    font-size: 0.8rem;
    font-weight: 300;
    color: $default-font-color;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }