@import "../../Fonts/fonts";
@import "../../Misc/variables";

.meal {
    display: flex;
    justify-content: flex-end;

    // margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    border-bottom: 1px solid $default-accent-color;
    text-shadow: 0 0 1px $default-accent-color-dark;
  }

.meal__price {
    display: flex;

    // justify-content: space-between;
    margin: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    border-bottom: none;
    color: $default-accent-color;
    font-weight: 700;
    text-shadow: 0 0 1px $default-accent-color-dark;
}
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    text-align: right;
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: $default-accent-color-dark;
    font-size: 1.25rem;
  }