@import "../../Fonts/fonts";
@import "../../Misc/variables";

.meal {
    display: flex;
    justify-content: flex-end;

    // margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    border-bottom: 1px solid $default-accent-color;
    text-shadow: 0 0 1px $default-accent-color-dark;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: none;
  }
  @media (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: none;
  }
  }

.meal__price {
    display: flex;

    // justify-content: space-between;
    margin: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    border-bottom: none;
    color: $default-accent-color;
    font-weight: 700;
    text-shadow: 0 0 1px $default-accent-color-dark;
}
  
  .meal h3 {
    cursor: default;
    text-align: right;
    margin: 0 0 0.25rem 0;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: $default-accent-color;
      transition: all 0s;
    }
  }

  .meal img {
    z-index: 1000;
    position: absolute;
    left: 1.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    // float: left;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.5);

    &:hover {
      z-index: 1001;
      transform: scale(2.5);
    }

    @media (max-width: $breakpoint-sm) {
      display: none;
    }
      
  }

  
  .description {
    cursor: default;
    text-align: right;
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: $default-accent-color-dark;
    font-size: 1.25rem;
  }